:root {
    --main-chosun: "ChosunNm";
    --main-gmark: "GmarketSans";

    --primary-color: #d2f6eb;

    --black: #000;
    --white: #fff;
    --red: #f00;

    --black100: #333;
    --black200: #444;
    --black300: #777;
    --black400: #999;
    --black500: #d7d7d7;
    --black600: #e8e8e8;



    /* font-size: 16px;
    line-height: 1.5;
    font-weight: 400; */
}

/* 스크롤바 전체 스타일링 */
::-webkit-scrollbar {
    width: 10px;
    /* 스크롤바의 너비 */
}

/* 스크롤바 트랙 (배경) 스타일링 */
::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.25);
    /* 트랙 배경색 */
}

/* 스크롤바 핸들 (막대) 스타일링 */
::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.25);
    /* 핸들 색상 */
    border-radius: 5px;
    /* 핸들의 모서리를 둥글게 만듭니다. */
}

/* 활성화된 스크롤바 핸들 (사용자가 클릭했을 때) 스타일링 */
::-webkit-scrollbar-thumb:hover {
    background-color: #303030;
    /* 활성화된 핸들 색상 */
}



@media (max-width:800px) {
    :root {
        font-size: 14px;
    }
}